body {
	margin: 0px;
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	.page-content {
		padding-top: 48px;
		min-height: 100vh;
		box-sizing: border-box;
		@media (max-width: 991px) {
			padding-top: 24px;
		}
	}
}

* { box-sizing: border-box; }






$color_blue : #00378C;
$color_blue_light: #E5F0FF;
$color_blue_light_2: #F8F8FB;
$color_red: #CE000C;
$color_blue_hover: #0041A6;
$color_blue_pressed: #002D73;

$color_dark_blue : #001940;
$color_light_blue : #999BBF;

$color_note : #0097F1;
$color_alert : #FFC107;
$color_alert_light : #FFF8E5;
$color_warning : #DC3545;
$color_warning_light : #F6CCD0;
$color_successful : #30BF54;
$color_successful_light : #D9FFE2;

h1 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 120%;
	color: $color_dark_blue;
}
h2 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 120%;
	color: $color_dark_blue;
	@media (max-width: 992px) {
		font-size: 22px;
		line-height: 120%;
	}
}
p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: $color_light_blue;
}
a {
	color: $color_blue;
}

.color-blue { color: $color_blue!important; }
.color-main { color: $color_note; }
a.color-main { text-decoration: none; }
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}



.page-title {
	margin: 0px 0px 22px 0px;
	&.page-title_h2 {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 120%;
		color: $color_dark_blue;
		@media (max-width: 991px) {
			font-size: 22px;
			line-height: 120%;
		}
	}
}
.page-description {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	color: $color_light_blue;
	margin: 0px;
}

.link-more {
	text-decoration: none;
	padding: 17px 0px;
	&.link-more_arrow {
		display: flex;
		align-items: center;
		.link-more__text {
			padding-right: 10px;
		}
		.link-more__arrow {
			position: relative;
			right: 0px;
			transition: 0.2s;
		}
		&:hover {
			.link-more__arrow {
				right: -5px
			}
		}
	}
	.link-more__text {
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: $color_note;
	}
}

.link {
	display: inline-block;
	padding: 17px 24px;
	font-size: 18px;
	line-height: 21px;
	text-decoration: none;
	color: $color_blue;

	&.link_arrow-left {
		display: flex;
		align-items: center;
		.link__arrow {
			position: relative;
			left: 0px;
			margin-right: 12px;
			transition: 0.2s;
		}
		&:hover {
			.link__arrow {
				left: -5px
			}
		}
	}

	&.link_color-light-blue {
		.link__text {
			color: $color_light_blue;
		}
	}
}

.w-100 { width: 100%!important; }

.table-responsive {
	overflow-x:auto;
}
.table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	thead {
		td {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 120%;
			color: $color_note;
		}
	}
	tbody {
		tr {
			&:nth-child(odd) {
				background: $color_blue_light_2;
			}
		}
	}
	td {
		padding: 15px 12px;
		font-size: 16px;
		line-height: 150%;
		color: $color_light_blue;
		@media (max-width: 991px) {
			min-width: 240px;
		}
	}
	&.table_reverse-bg {
		tbody {
			tr {
				&:nth-child(odd) {
					background: none;
				}
				&:nth-child(even) {
					background: $color_blue_light_2;
				}
			}
		}
	}
}
.list {
	padding: 0px;
	margin: 0px;
	li {
		list-style: none;
		font-size: 16px;
		line-height: 150%;
		color: $color_light_blue;
		&:after {
			content: "-",
			
		}
	}
}
.text-right { text-align: right!important; }
.font-size-16 { font-size: 16px!important; line-height: 18px!important; }
.font-size-18 { font-size: 18px!important; line-height: 150%!important; }
.font-size-22 { font-size: 22px!important; line-height: 26px!important; }

.pt-12 { padding-top: 12px; }
.pt-24 { padding-top: 24px; }

.pb-16 { padding-bottom: 16px; }
.pb-23 { padding-bottom: 23px; }
.pb-24 { padding-bottom: 24px; }
.pb-36 { padding-bottom: 36px; }
.pb-40 { padding-bottom: 40px; }
.pb-48 { padding-bottom: 48px; }
.pb-90 { padding-bottom: 90px; }
.pb-96 { padding-bottom: 96px; }

.pb-lg-23 {
	@media (min-width: 992px) {
		padding-bottom: 23px;
	}
}
.pb-lg-60 {
	@media (min-width: 992px) {
		padding-bottom: 60px;
	}
}
.pb-lg-70 {
	@media (min-width: 992px) {
		padding-bottom: 70px;
	}
}
.pb-lg-90 {
	@media (min-width: 992px) {
		padding-bottom: 90px;
	}
}
.pg-lg-90 {
	@media (min-width: 992px) {
		padding-bottom: 90px;
	}
}
.pb-lg-190 {
	@media (min-width: 992px) {
		padding-bottom: 190px;
	}
}
.pg-lg-190 {
	@media (min-width: 992px) {
		padding-bottom: 190px;
	}
}
.pl-20 { padding-left: 20px!important; }

.py-17 { padding-top: 17px; padding-bottom: 17px; }
.py-100 { padding-top: 100px; padding-bottom: 100px; }


.mt-32 { margin-top: 32px!important; }

.mr-12 { margin-right: 12px!important; }

.m-0 { margin: 0px; }
.mb-8 { margin-bottom: 8px!important; }
.mb-12 { margin-bottom: 12px!important; }
.mb-16 { margin-bottom: 16px; }
.mb-24 { margin-bottom: 24px; }
.mb-28 { margin-bottom: 28px; }
.mb-36 { margin-bottom: 36px; }

.mb-lg-0 { @media(min-width: 992px) { padding-bottom: 0px!important; } }