footer(class="footer")
	div(class="footer__top")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-3 mb-24 mb-lg-0")
					a(class="logo" href="#")
						img(class="lazyload" data-src="images/logo.svg" alt="img")
				div(class="col-12 col-lg-3")
					span(class="footer__title")
						| Навигация
					ul(class="footer__list")
						each item, index in ["Рейтинги", "Календарь соревнований", "Статьи", "Фотогалерея", "Федерация"]
							li()
								a(class="footer__nav-item" href="#")
									= item
				div(class="col-12 col-lg-4")
					span(class="footer__title")
						| Ссылки
					ul(class="footer__list")
						each item, index in ["Наши контакты", "Ссылки на другие сайты", "Политика конфиденциальности", "Помощь"]
							li()
								a(class="footer__nav-item" href="#")
									= item
				div(class="col-12 col-lg-2")
					span(class="footer__title")
						| Соц. сети
					div(class="d-flex flex-wrap")
						a(class="social-link" href="#")
							img(class="lazyload" data-src="images/social-vk.svg" alt="img")
	div(class="fotter__bottom")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="footer__border")
				div(class="col-12")
					p()
						| Федерация плавания Челябинской области ©2010-2021.