header(class="header")
	div(class="hedaer__top")
		div(class="container")
			div(class="row align-items-center")
				div(class="col-12 col-lg-6")
					a(class="logo" href="#")
						img(class="lazyload" data-src="images/logo.svg" alt="img")
				div(class="col-12 col-lg-6 d-none d-lg-flex justify-content-end")
					button(class="btn btn_size-large btn_type-secondary mr-24")
						| Регистрация
					button(class="btn btn_size-large btn_type-primary")
						| Войти
	div(class="header__bottom")
		div(class="container")
			div(class="row")
				div(class="col-12 d-flex alig-items-end")
					div(class="d-lg-none w-100")
						form(action="" class="form-search form-search_big")
							div(class="form-control")
								input(type="search" placeholder="Поиск…")
					div(class="d-none d-lg-block")
						form(action="" class="form-search form-search_header")
							input(type="search" placeholder="Поиск…")
							span(class="form-search__border")
					nav(class="header__navigation")
						each item,index in ["Главная", "Рейтинги", "Календарь", "Статьи", "Фотогалерея" ,"Федерация", "Контакты"]
							if(index == 0)
								a(href="#" class="active")
									= item
									span(class="form-search__border")
							else if (index == 5)
								div(class="header__navigation-dropdawn")
									div(class="header__navigation-dropdawn-header")
										a(href="#")
											= item
										span(class="arrow")
											img(src="images/arrow_down.svg" alt="img")
										div(class="header__navigation-dropdawn-content")
											each item in ["Документы", "Руководящий состав", "Тренерский состав", "Бассейны", "Спортивные организации", "Члены Федерации", "Команда Челябинской области"]
												a(href="#")
													= item
										span(class="form-search__border")
							else
								a(href="#")
									= item
									span(class="form-search__border")
div(class="header header_mobile")
	div(class="header__navigation header__navigation_mobile")
			a(class="" href="#")
				<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M3.5 9L12.5 2L21.5 9V20C21.5 20.5304 21.2893 21.0391 20.9142 21.4142C20.5391 21.7893 20.0304 22 19.5 22H5.5C4.96957 22 4.46086 21.7893 4.08579 21.4142C3.71071 21.0391 3.5 20.5304 3.5 20V9Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M9.5 22V12H15.5V22" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				| Главная
			a(class="" href="#")
				<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.5 15C16.366 15 19.5 11.866 19.5 8C19.5 4.13401 16.366 1 12.5 1C8.63401 1 5.5 4.13401 5.5 8C5.5 11.866 8.63401 15 12.5 15Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M8.71 13.8899L7.5 22.9999L12.5 19.9999L17.5 22.9999L16.29 13.8799" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				| Рейтинги
			a(class="" href="#")
				<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5 4H5.5C4.39543 4 3.5 4.89543 3.5 6V20C3.5 21.1046 4.39543 22 5.5 22H19.5C20.6046 22 21.5 21.1046 21.5 20V6C21.5 4.89543 20.6046 4 19.5 4Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M16.5 2V6" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M8.5 2V6" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M3.5 10H21.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				| Календарь
			a(class="" href="#")
				<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.5 2H6.5C5.96957 2 5.46086 2.21071 5.08579 2.58579C4.71071 2.96086 4.5 3.46957 4.5 4V20C4.5 20.5304 4.71071 21.0391 5.08579 21.4142C5.46086 21.7893 5.96957 22 6.5 22H18.5C19.0304 22 19.5391 21.7893 19.9142 21.4142C20.2893 21.0391 20.5 20.5304 20.5 20V8L14.5 2Z" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M14.5 2V8H20.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M16.5 13H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M16.5 17H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M10.5 9H9.5H8.5" stroke="#999BBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				| Статьи
			a(class="" href="#")
				span(class="login-img")
					img(class="lazyload" data-src="images/avatar.png" alt="img")
				| Кабинет