nav(class="pagination")
	<a class="btn btn_type-secondary btn_size-large btn_disabled" href="#">
		span()
			| Назад
		<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M9.41436 9.996L0.846359 5.946V4.272L9.41436 0.221999V1.698L1.99836 5.082L9.41436 8.484V9.996Z" fill="#999BBF"/>
		</svg>
	</a>
	ul
		-for(let i = 0; i < 5; i++)
			if i == 0
				li(class="page-item page-item_active")
					a(class="page-link" href="#")
						= i + 1
			else 
				li(class="page-item")
					a(class="page-link" href="#")
						= i + 1
		li(class="page-item")
			| ...
		-for(let i = 13; i < 18; i++)
			li(class="page-item")
				a(class="page-link" href="#")
					= i + 1
	<a class="btn btn_type-secondary btn_size-large" href="#">
		span()
			| Далее
		<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0.594359 0.221999L9.16236 4.272V5.946L0.594359 9.996V8.52L8.01036 5.136L0.594359 1.734V0.221999Z" fill="#00378C"/>
		</svg>
	</a>