extends base.pug
block content
	div(class="container")
		div(class="row justify-content-center pb-48 pb-lg-90")
			div(class="col-12 col-lg-10 col-xl-8")
				div(class="news__item news__item_article")
					div(class="pb-24")
						span(class="news__date")
							| 23.06.2021
						h1(class="news__title")
							| Интервью с тренером СДЮСШОР № 7
						div(class="preview")
							img(src="images/news-item-1.png" alt="img")
						h2()
							| Заголовок
						div(class="mb-16")
							each item in ['I этап Турнира ФПЧО "Путь Чемпиона" проведен 27 октября 2018г в г.Сатка Челябинской области (Плавательный бассейн МАУ «Дворец спорта «Магнезит» ул. Солнечная, 10).', 'I этап Турнира ФПЧО "Путь Чемпиона" проведен 27 октября 2018г в г.Сатка Челябинской области (Плавательный бассейн МАУ «Дворец спорта «Магнезит» ул. Солнечная, 10).', 'Кандидатуры судей должны быть отправлены на электронный адрес swimevents@russwimming.ru не позднее 28 февраля 2021 года одновременно с технической заявкой.']
								p()
									= item
						div(class="row mb-24")
							div(class="col-12")
								a(class="d-block preview" href="images/news-item-1.png" data-fancybox="gallery")
									img(class="d-block lazyload w-100" data-src="images/news-item-1.png" alt="img")
							div(class="col-6")
								a(class="d-block preview" href="images/news-item-1.png" data-fancybox="gallery")
									img(class="d-block lazyload w-100" data-src="images/news-item-1.png" alt="img")
							div(class="col-6")
								a(class="d-block preview" href="images/news-item-1.png" data-fancybox="gallery")
									img(class="d-block lazyload w-100" data-src="images/news-item-1.png" alt="img")
						h2()
							| Заголовок
						div(class="mb-16")
							each item in ['I этап Турнира ФПЧО "Путь Чемпиона" проведен 27 октября 2018г в г.Сатка Челябинской области (Плавательный бассейн МАУ «Дворец спорта «Магнезит» ул. Солнечная, 10).', 'I этап Турнира ФПЧО "Путь Чемпиона" проведен 27 октября 2018г в г.Сатка Челябинской области (Плавательный бассейн МАУ «Дворец спорта «Магнезит» ул. Солнечная, 10).', 'Кандидатуры судей должны быть отправлены на электронный адрес swimevents@russwimming.ru не позднее 28 февраля 2021 года одновременно с технической заявкой.']
								p()
									= item
					div(class="news__footer")
						h2(class="mb-12")
							| Поделиться в соц. сетях:
						div(class="d-flex flex-wrap")
							each item, index in ["images/social-instagram.svg", "images/social-telegram.svg", "images/social-facebook.svg", "images/social-vk.svg", "images/social-whatsapp.svg"]
								a(class="social-link mr-24" href="#")
									img(class="lazyload" data-src=item alt="img")
		div(class="row align-items-center pb-23")
			div(class="col-12 col-lg-6")
				h2(class="page-title page-title_h2 m-0")
					| Другие статьи
			div(class="col-12 col-lg-6 d-none d-lg-flex justify-content-end")
				include components/link-more-arrow.pug
		div(class="row pb-96 pg-lg-190")
			div(class="swiper-container default-slider")
				div(class="swiper-wrapper")
					-for(let i = 0; i < 3; i++)
						div(class="news__item news__item_long swiper-slide")
							a(class="preview" href="#")
								img(src="images/news-item-1.png" alt="img")
							div(class="news__content")
								span(class="news__date news__date_color-m")
									| 23.06.2021
								a(href="#" class="news__title")
									| Турнир ФПЧО «‎Я стану Чемпионом»
								p(class="news__description")
									| Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного…
								a(class="news__link-more d-none d-lg-inline-block" href="#")
									| Читать полностью