extends base.pug
block content
	div(class="container")
		div(class="row align-items-center pb-23")
			div(class="col-12 col-lg-6")
				h1(class="page-title page-title_h2 m-0")
					| Последние статьи
			div(class="col-12 col-lg-6 d-none d-lg-flex justify-content-end")
				include components/link-more-arrow.pug
		div(class="row pb-48 pg-lg-90")
			div(class="col-12 col-lg-6 d-none d-lg-block")
				div(class="news__item news__item_long")
					a(class="preview" href="#")
						img(src="images/news-item-1.png" alt="img")
					div(class="news__content")
						span(class="news__date")
							| 23.06.2021
						a(href="#" class="news__title")
							| Турнир ФПЧО «‎Я стану Чемпионом» — третий этап
						p(class="news__description")
							| Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…
						a(class="news__link-more" href="#")
							| Читать полностью
			div(class="col-12 col-lg-6 d-none d-lg-block")
				-for(let i = 0; i < 3; i ++)
					div(class="news__item news__item_row mb-24")
						a(class="preview" href="#")
							img(src="images/news-item-1.png" alt="img")
						div(class="news__content")
							span(class="news__date")
								| 23.06.2021
							a(href="#" class="news__title")
								| Есть ли спортивное плавание в Чебуркале?
							a(class="news__link-more" href="#")
								| Читать полностью
			div(class="col-12 col-lg-6 d-block d-lg-none")
				div(class="swiper-container welcome-slider")
					div(class="swiper-wrapper")
						- let date2 = ["23.06.2021", "15.06.2021", "27.05.2021", "24.05.2021", "12.04.2021"];
						each item, index in ["День рождения Николая Петровича", "День рождения Николая Петровича", "День рождения Николая Петровича", "День рождения Николая Петровича", "День рождения Николая Петровича"]
							div(class="news__item news__item_only-title-date swiper-slide")
								a(class="preview" href="#")
									img(src="images/news-item-1.png" alt="img")
								div(class="news__content")
									a(href="#" class="news__title")
										= item
									span(class="news__date")
										= date2[index]
					div(class="swiper-pagination swiper-pagination_welcome")
		div(class="row align-items-center mb-24")
			div(class="col-12")
				h2(class="page-title page-title_h2 m-0")
					| Все статьи
		div(class="row pg-lg-90")
			-for(let i = 0; i < 9; i++)
				div(class="col-12 col-lg-4 mb-24")
					div(class="news__item news__item_long")
						a(class="preview" href="#")
							img(src="images/news-item-1.png" alt="img")
						div(class="news__content")
							span(class="news__date news__date_color-m")
								| 23.06.2021
							a(href="#" class="news__title")
								| Турнир ФПЧО «‎Я стану Чемпионом»
							p(class="news__description")
								| Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного…
							a(class="news__link-more d-none d-lg-inline-block" href="#")
								| Читать полностью
		div(class="row pb-48 pb-lg-90")
			div(class="col-12")
				include components/pagination.pug
		div(class="row pb-90 pg-lg-190")
			div(class="col-12 col-lg-6")
				h2(class="page-title page-title_h2 mb-8")
					| Новости в других источниках
				p(class="page-description")
					| Вы также можете посмотреть последние новости о плавании в следующих источниках:
				-for(let i = 0; i < 3; i++)
					div()
						a(href="russwimming.ru/rating" class="link-more")
							span(class="link-more__text")
								| russwimming.ru/rating