extends base.pug
block content
	div(class="athlete-card")
		div(class="container")
			div(class="row justify-content-center")
				div(class="col-12 col-lg-2")
					div(class="avatar")
						img(class="lazyload" data-src="images/avatar.png" alt="img")
						
				div(class="col-12 col-lg-9 d-flex flex-column align-items-start")
					a(class="btn btn_size-small btn_bg-blue-light link link_arrow-left mb-12")
						<svg class="link__arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19 12H5" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path d="M12 19L5 12L12 5" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
						| Вернуться назад
					h1(class="athlete-card__title")
						| Алиса Иванова Дмитриевна
					div(class="row w-100 pb-36")
						-let tmpInfo = ["Год рождения", "Город", "Спортивная школа", "Тренер"];
						each item, index in ["2002", "Челябинск", "СШОР №7", "Иван Иванов Иванович"]
							div(class="col-12 col-lg-4 mb-12")
								span(class="athlete-card__text")
									= tmpInfo[index]
								p()
									= item
					h2(class="athlete-card__subtitle")
						| Лучший результат
					div(class="row w-100 pb-36")
						-let tmpInfo2 = ["Дистанция", "Результат", "Разряд"];
						each item, index in ["1500 м вольный стиль", "14.57,53 мин", "КМС"]
							div(class="col-12 col-lg-4 mb-12")
								span(class="athlete-card__text")
									= tmpInfo2[index]
								p()
									= item