extends base.pug
block content
	div(class="page-section")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-5 order-lg-2")
					div(class="news__item news__item_long mb-24")
						div(class="news__content")
							span(class="news__date news__date_active")
								| 23 Июля 2021 – 23 Августа 2021
							h1(class="m-0 mb-8")
								| Турнир ФПЧО «‎Я стану Чемпионом»
							p(class="news__description")
								| Челябинск, Россия
					button(type="button" class="btn btn_size-large btn_type-primary w-100")
						| Подать заявку на участие
				div(class="col-12 col-lg-7 order-lg-1")
					div(class="calendar-item")
						div(class="calendar-item__preview mb-24")
							img(class="lazyload" data-src="images/news-item-1.png" alt="img")
						h2(class="calendar-item__title")
							| Описание
						div(class="pb-40")
							p()
								| К участию в межрегиональных соревнованиях, являющихся этапом отбора на финал Кубка России, допускаются спортсмены в составе спортивных сборных команд субъектов Российской Федерации: мужчины не моложе 2006 года рождения, женщины не моложе 2008 года рождения, по спортивной подготовленности не ниже I разряда.
							p()
								| Cостав спортивной сборной команды субъекта Российской Федерации 40 человек (соотношение мужчин и женщин не регламентируется), 9 тренеров (1 из них тренер-представитель) и 1 судья (обязательно).
							p()
								| Субъектам Российской Федерации, в которых проводятся соревнования, являющиеся этапом отбора на финал кубка России, разрешается выставить по 2 команды.
							p()
								| Кандидатуры судей должны быть отправлены на электронный адрес swimevents@russwimming.ru не позднее 28 февраля 2021 года одновременно с технической заявкой.
						div
							h2(class="calendar-item__title")
								| Ответственные за проведение соревнования
							div(class="row pb-40")
								each item, index in ["Малышева А. Р. — секретать", "Тимофеев А. Д. — судья", "Филатова Э. А. — судья", "Демидов А. А. — директор дивизиона"]
									div(class="col-12 col-lg-6")
										p()
											= item
						h2(class="calendar-item__title")
							| Документы и ссылки
						div(class="row pb-40")
							-let img = ["images/file.svg", "images/file.svg", "images/award.svg", "images/image.svg"];
							each item, index in ["Положение о соревновании", "Итоговый протокол", "Рейтинг соревнования", "Фотографии с соревнования"]
								if index == 0 || index == 1
									div(class="col-12 col-lg-6 mb-8")
										a(href="#" class="link-more  d-flex align-items-center" download)
											img(class="lazyload mr-12" data-src=img[index] alt="img")
											span(class="link-more__text font-size-16")
												= item
								else 
									div(class="col-12 col-lg-6 mb-8")
										a(href="#" class="link-more  d-flex align-items-center")
											img(class="lazyload mr-12" data-src=img[index] alt="img")
											span(class="link-more__text font-size-16")
												= item
			div(class="row align-items-center pb-23")
				div(class="col-12 col-lg-6")
					h2(class="page-title page-title_h2 m-0")
						| Другие события
				div(class="col-12 col-lg-6 d-lg-flex justify-content-end")
					include components/link-more-arrow.pug
			div(class="row pg-lg-190")
				each item, index in ["Турнир ФПЧО «‎Я стану Чемпионом»", "Турнир ФПЧО «Путь Чемпиона»", "V Всероссийская летняя Универсиада"]
					div(class="col-12 col-lg-4")
						div(class="news__item news__item_long")
							a(class="preview" href="#")
								-let tmp = "images/news-item-" + (index + 1) + ".png";
								img(src=tmp alt="img")
							div(class="news__content")
								span(class="news__date news__date_active")
									| 23 Июля 2021 – 23 Августа 2021
								a(href="#" class="news__title")
									= item
								p(class="news__description")
									| Челябинск, Россия