extends base.pug
block content
	div(class="container")
		div(class="row mb-12")
			div(class="col-12")
				form(action="" class="form-search form-search_big")
					div(class="form-control")
						input(type="search" placeholder="Поиск…")
		div(class="row mb-36")
			div(class="col-12")
				div(class="calendar__year-list")
					each item, index in ["2021", "2020", "2019", "2018", "2017", "2016", "2015", "2014", "2013", "2012", "2011", "2010", "2009"]
						if index == 0
							a(class="btn btn_size-middle btn_type-primary mr-12" href="#")
								= item
						else 
							a(class="btn btn_size-middle btn_type-ghost mr-12" href="#")
								= item
			div(class="col-12")
				div(class="calendar__year-list")
					each item, index in ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]
						if index == 0
							a(class="btn btn_size-middle btn_type-primary mr-12" href="#")
								= item
						else 
							a(class="btn btn_size-middle btn_type-ghost mr-12" href="#")
								= item
		div(class="row")
			div(class="col-12 col-lg-8")
				h2(class="page-title page-title_h2 mb-8")
					| 2021 год, Январь
			div(class="col-12 col-lg-4 d-flex justify-content-end")
				a(href="#" class="link-more  d-flex align-items-center")
					img(class="lazyload mr-12" data-src="images/file.svg" alt="img")
					span(class="link-more__text font-size-16")
						| Календарь соревнований за 2021 год
		div(class="row pb-48")
			div(class="col-12")
				div(class="table-responsive")
					table(class="table")
						thead()
							tr()
								each item, index in ["Название", "Дата начала", "Дата окончания", "Город"]
									if index == 3 
										td(class="text-right")
											= item
									else
										td()
											= item
						tbody()
							-for(let i = 0; i < 11; i++)
								tr()
									each item, index in ["Турнир ФПЧО «‎Я стану Чемпионом»", "21 февраля 2021", "21 февраля 2021", "Магнитогорск"]
										if index == 3 
											td(class="text-right")
												= item
										else
											td()
												= item
		div(class="row pb-lg-90")
			div(class="col-12")
				include components/pagination.pug
		div(class="row pg-lg-190")
			div(class="col-12")
				h2(class="page-title page-title_h2 mb-8")
					| Календарь соревнований на других сайтах
				p(class="page-description")
					| Вы также можете посмотреть календарь событий на сайте ВФП:
				a(href="russwimming.ru/calendar" class="link-more")
					span(class="link-more__text")
						| russwimming.ru/calendar