extends base.pug
block content
	div(class="container")
		div(class="row")
			div(class="col-12")
				div(class="notification-item")
					div(class="notification-item__preview")
						img(class="lazyload" data-src="" alt="img")
					div(class="d-flex flex-column")
						span(class="notification-item__title")
							| У нас появились членские взносы
						span(class="notification-item__description")
							| Перейдите в личный кабинет и посмотрите