extends base.pug
block content
	div(class="page-section")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-4 mb-24")
					span(class="footer__title mb-8")
						| Наш телефон
					a(class="footer__nav-item d-flex align-items-center" href="tel:83517212789")
						img(class="lazyload mr-12" data-src="images/phone.svg" alt="img")
						| 8 (351) 721-27-89
				div(class="col-12 col-lg-4 mb-24")
					span(class="footer__title mb-8")
						| Наша почта
					a(class="footer__nav-item d-flex align-items-center" href="mailto:FP4O@yandex.ru")
						img(class="lazyload mr-12" data-src="images/mail.svg" alt="img")
						| FP4O@yandex.ru
				div(class="col-12 col-lg-4 mb-24")
					span(class="footer__title mb-8")
						| Президент федерации
					div(class="footer__nav-item d-flex align-items-center")
						img(class="lazyload mr-12" data-src="images/user.svg" alt="img")
						| Галеев Валерий Фаритович
				div(class="col-12 col-lg-4 mb-24")
					span(class="footer__title mb-8")
						| Соц. сети
					div(class="d-flex flex-wrap")
						a(class="social-link" href="#")
							img(class="lazyload" data-src="images/social-vk.svg" alt="img")