extends base.pug
block content
	div(class="page-section")
		div(class="container")
			div(class="row pg-lg-90")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Тренерский состав
					ul(class="list")
						li 
			div(class="row")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Команда Челябинской области (основной состав)
			div(class="row pg-lg-90")
				div(class="col-12 col-lg-7 mb-8")
					p(class="page-description")
						| Список членов основного состава команды Челябинской области по плаванию
				div(class="col-12")
					div(class="table-responsive")
						table(class="table")
							thead()
								tr()
									each item, index in ["ФИО", "Год рождения", "Разряд", "Город", "Спорт. организация"]
										if index == 4 
											td(class="text-right")
												= item
										else
											td()
												= item
							tbody()
								-for(let i = 0; i < 11; i++)
									tr()
										each item, index in ["Алиса Иванова Дмитриевна", "2002", "КМС", "Челябинск", "СШОР №7"]
											if index == 4 
												td(class="text-right")
													= item
											else
												td()
													= item
			div(class="row pg-lg-190")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Команда Челябинской области (резервный состав)
				div(class="col-12 col-lg-7 mb-8")
					p(class="page-description")
						| Список членов другого состава команды Челябинской области по плаванию
				div(class="col-12")
					div(class="table-responsive")
						table(class="table")
							thead()
								tr()
									each item, index in ["ФИО", "Год рождения", "Разряд", "Город", "Спорт. организация"]
										if index == 4 
											td(class="text-right")
												= item
										else
											td()
												= item
							tbody()
								-for(let i = 0; i < 11; i++)
									tr()
										each item, index in ["Алиса Иванова Дмитриевна", "2002", "КМС", "Челябинск", "СШОР №7"]
											if index == 4 
												td(class="text-right")
													= item
											else
												td()
													= item