extends base.pug
block content
	div(class="page-section")
		div(class="container")
			div(class="row pg-lg-90")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Документы
				-for(let i = 0; i < 6; i++ )
					div(class="col-12 col-lg-4 py-17 mb-8")
						a( class="link-more d-flex alig-nitems-center" href="#" download)
							img(class="lazyload mr-12" data-src="images/file.svg" alt="img")
							span(class="link-more__text")
								| Название документа №
								= i + 1
			div(class="row")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Руководящий состав
				div(class="col-12 col-lg-7 mb-24")
					p(class="page-description")
						| Сведения о членах Президиума Челябинской региональной общественной организации «Федерация плавания Челябинской области»
			div(class="row pg-lg-90")
				-let subtitle = ["Президент", "Вице-Президент", "Вице-Президент", "Член Президиума", "Член Президиума", "Член Президиума", "Член Президиума", "Член Президиума", "Член Президиума"];
				each item, index in ["Галеев Валерий Фаритович", "Пономаренко Вячеслав Владимирович", "Филиппов Сергей Борисович", "Петрова Ольга Борисовна", "Позднякова Татьяна Александровна", "Симонов Олег Сергеевич", "Бабенко Татьяна Игоревна", "Шведкая Ирина Анатольевна", "Эрлих Вадим Викторович"]
					div(class="col-12 col-lg-4 mb-24")
						span(class="footer__title font-size-18 mb-8")
							= item
						div(class="footer__nav-item")
							= subtitle[index]
			div(class="row")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Члены Федерации
				div(class="col-12 col-lg-7 mb-24")
					p(class="page-description")
						| Перечень лиц, являющихся членами Челябинской региональной общественной организации «Федерация плавания Челябинской области»
			div(class="row pg-lg-190")
				each item, index in ["Арефьев Юрий Борисович", "Бабенко татьяна Игоревна", "Балахонова Марина Николаевна", "Бондаренко Наталья Юрьевна", "Бородин Олег Викторович", "Вострякова Екатерина Александровна", "Галеев Валерий Фаритович", "Дымова Наталья Вячеславовна", "Иванова Елена Геннадьевна", "Колесникова Дарья Валерьевна"]
					div(class="col-12 col-lg-4 mb-24")
						span(class="footer__title font-size-18 mb-8")
							= item