extends base.pug
block content
	div(class="page-section")
		div(class="container")
			div(class="row pg-lg-90")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Бассейны
				div(class="col-12 col-lg-7")
					p(class="page-description")
						| Список всех бассейнов в Челябинской области и ссылки на их сайты
				div(class="col-12")
					div(class="table-responsive")
						table(class="table")
							thead()
								tr()
									each item, index in ["Название", "Город", "Кол-во бассейнов:", "Длина дорожек", "Сайт"]
										if index == 4 
											td(class="text-right")
												= item
										else
											td()
												= item
							tbody()
								-for(let i = 0; i < 11; i++)
									tr()
										each item, index in ["СК «Металлург» ОАО «АМЗ»", "Магнитогорск", "2", "25 м", "vk.com/mbusokmettalurg"]
											if index == 4 
												td(class="text-right")
													a(href="#" class="link-more")
														span(class="link-more__text")
															= item
											else
												td()
													= item
			div(class="row")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Спортивные организации
				div(class="col-12 col-lg-7 mb-24")
					p(class="page-description")
						| Список всех спортивных организаций по плаванию в Челябинской области и ссылки на их сайты
			div(class="row pg-lg-190")
				-let city = ["Челябинск", "Челябинск", "Челябинск", "Миасс", "Трехгорный"]
				-let link = ["yunika.edusite.ru", "waterschool7.edusite.ru", "-", "sport4miass.ru/pages/plavanie.php", "schor1.ru/swimming"]
				each item, index in ["МБУ СШОР ЮНИКА", "МБУ СОШ №7", "ЦСП Чел. области Аквамарин", "МБУ СОШ №4", "МБУ СШОР №1"]
					div(class="col-12 col-md-6 col-lg-4 mb-24")
						div(class="organization-item")
							span(class="title")
								= item
							div(class="d-flex align-items-center")
								span(class="city")
									| Город:
								span(class="city-type")
									= city[index]
							if index == 2
								div(class="link")
									= link[index]
							else 
								a(href="#" class="link")
									= link[index]