extends base.pug
block content
	h1(class="screen-reader-text")
		| главная
	div(class="container")
		div(class="row pb-48 pg-lg-90")
			div(class="col-12 col-lg-6 d-none d-lg-block")
				div(class="news__item news__item_long")
					a(class="preview" href="#")
						img(src="images/news-item-1.png" alt="img")
					div(class="news__content")
						span(class="news__date")
							| 23.06.2021
						a(href="#" class="news__title")
							| Турнир ФПЧО «‎Я стану Чемпионом» — третий этап
						p(class="news__description")
							| Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…
						a(class="news__link-more" href="#")
							| Читать полностью
			div(class="col-12 col-lg-6 d-none d-lg-block")
				h2(class="page-title page-title_h2")
					| Последние новости
				- let date = ["23.06.2021", "15.06.2021", "27.05.2021", "24.05.2021", "12.04.2021"]
				each item, index in ["Предложение для групп болельщиков чемпионата мира ФИНА по водным видам спорта", "В России впервые пройдут международные соревнования «Кубок Чемпионов»", "Спортивная жизнь Мастера спорта РФ — Лаврика Алексея", "Есть ли спортивное плавание в Чебуркале?", "День рождения Ольги Юрьевны (г. Челябинск ПБ «‎Строитель»)"]
					div(class="news__item news__item_only-title-date")
						div(class="news__content")
							span(class="news__date")
								= date[index]
							a(href="#" class="news__title")
								= item
			div(class="col-12 col-lg-6 d-block d-lg-none")
				h2(class="page-title page-title_h2")
					| Последние новости
				div(class="swiper-container welcome-slider")
					div(class="swiper-wrapper")
						- let date2 = ["23.06.2021", "15.06.2021", "27.05.2021", "24.05.2021", "12.04.2021"];
						each item, index in ["День рождения Николая Петровича", "День рождения Николая Петровича", "День рождения Николая Петровича", "День рождения Николая Петровича", "День рождения Николая Петровича"]
							div(class="news__item news__item_only-title-date swiper-slide")
								a(class="preview" href="#")
									img(src="images/news-item-1.png" alt="img")
								div(class="news__content")
									a(href="#" class="news__title")
										= item
									span(class="news__date")
										= date2[index]
					div(class="swiper-pagination swiper-pagination_welcome")
		div(class="row align-items-center pb-16 pb-lg-23")
			div(class="col-12 col-lg-6")
				h2(class="page-title page-title_h2 m-0")
					| Календарь соревнований
			div(class="col-12 col-lg-6 d-none d-lg-flex justify-content-end")
				include components/link-more-arrow.pug
		div(class="row pb-48 pg-lg-90")
			div(class="col-12 px-0 pl-20")
				div(class="swiper-container default-slider")
					div(class="swiper-wrapper")
						each item, index in ["Турнир ФПЧО «‎Я стану Чемпионом»", "Турнир ФПЧО «Путь Чемпиона»", "V Всероссийская летняя Универсиада"]
							div(class="swiper-slide")
								div(class="news__item")
									a(class="preview" href="#")
										-let tmp = "images/news-item-" + (index + 1) + ".png";
										img(src=tmp alt="img")
									div(class="news__content")
										span(class="news__date news__date_active")
											| 23 Июля 2021 – 23 Августа 2021
										a(href="#" class="news__title")
											= item
										p(class="news__description")
											| Челябинск, Россия
		div(class="row align-items-center")
			div(class="col-12 col-lg-6")
				h2(class="page-title page-title_h2")
					| Дни рождения
		div(class="row pb-48 pg-lg-90")
			div(class="col-12 px-0 pl-20")
				div(class="swiper-container default-slider")
					div(class="swiper-wrapper")
						-desc = ["С днем рождения тренера Ольгы Юрьевны (г.Челябинск ПБ «‎Строитель»)", "Поздравляем директора СШОР № 7 Ивана Иванова (г.Челябинск)", "Поздравляем тренера Марии Сергеевной (г. Челябинск СШОР №7)", "Поздравляем тренера Юлию Артемовну (г. Златоуст СШОР №8)"]
						each item, index in ["День рождения Ольги Юрьевны", "День рождения Ивана Иванова", "День рождения Марии Сергеевной", "День рождения Юлии Артемовны"]
							div(class="swiper-slide")
								div(class="news__item news__item_mini")
									a(class="preview" href="#")
										-let tmp = "images/birthday-item-" + (index + 1) + ".png";
										img(src=tmp alt="img")
									div(class="news__content")
										span(class="news__date news__date_color-m")
											| 23.06.2021
										a(href="#" class="news__title")
											= item
										p(class="news__description")
											= desc[index]
		div(class="row align-items-center pb-23")
			div(class="col-12 col-lg-6")
				h2(class="page-title page-title_h2 m-0")
					| Последние статьи
			div(class="col-12 col-lg-6 d-none d-lg-flex justify-content-end")
				include components/link-more-arrow.pug
		div(class="row pb-48 pg-lg-90")
			div(class="d-lg-none px-0 pl-20")
				div(class="swiper-container default-slider")
					div(class="swiper-wrapper")
						-for(let i = 0; i < 4; i++)
							div(class="news__item news__item_long swiper-slide")
								a(class="preview" href="#")
									img(src="images/news-item-1.png" alt="img")
								div(class="news__content")
									span(class="news__date news__date_color-m")
										| 23.06.2021
									a(href="#" class="news__title")
										| Турнир ФПЧО «‎Я стану Чемпионом» — третий этап
									p(class="news__description")
										| Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…
									a(class="news__link-more d-none d-lg-inline-block" href="#")
										| Читать полностью
			div(class="col-12 col-lg-6 d-none d-lg-none")
				div(class="news__item news__item_long")
					a(class="preview" href="#")
						img(src="images/news-item-1.png" alt="img")
					div(class="news__content")
						span(class="news__date")
							| 23.06.2021
						a(href="#" class="news__title")
							| Турнир ФПЧО «‎Я стану Чемпионом» — третий этап
						p(class="news__description")
							| Соревнования проводятся 21 марта 2021 года (воскресенье), на базе плавательного бассейна «Строитель» (Челябинская область, г. Челябинск, ул. 50 лет ВЛКСМ, 14)…
						a(class="news__link-more" href="#")
							| Читать полностью
			div(class="col-12 col-lg-6 d-none d-lg-none")
				-for(let i = 0; i < 3; i ++)
					div(class="news__item news__item_row mb-24")
						a(class="preview" href="#")
							img(src="images/news-item-1.png" alt="img")
						div(class="news__content")
							span(class="news__date")
								| 23.06.2021
							a(href="#" class="news__title")
								| Есть ли спортивное плавание в Чебуркале?
							a(class="news__link-more" href="#")
								| Читать полностью
		div(class="row align-items-center pb-23")
			div(class="col-12 col-lg-6")
				h2(class="page-title page-title_h2 m-0")
					| Фотогаллерея
			div(class="col-12 col-lg-6 d-none d-lg-flex justify-content-end")
				include components/link-more-arrow.pug
		div(class="row pb-90 pg-lg-190")
			div(class="d-block d-lg-none px-0 pl-20")
				div(class="swiper-container default-slider")
					div(class="swiper-wrapper")
						div(class="swiper-slide")
							a(href="images/photo1.png" class="block-photo-gallery" data-fancybox="gallery")
								img(class="lazyload" data-src="images/photo1.png" alt="img")
						-for(let i = 0; i < 3; i ++)
							div(class="swiper-slide")
								a(href="images/photo1.png" class="block-photo-gallery" data-fancybox="gallery")
									img(class="lazyload" data-src="images/photo1.png" alt="img")
						div(class="swiper-slide")
							div(class="block-photo-gallery block-photo-gallery_link" )
								img(class="lazyload" data-src="images/photo1.png" alt="img")
								a(class="block-photo-gallery__content" href="#")
									| 9+ 
			div(class="col-12 col-lg-6 d-none d-lg-block")
				a(href="images/photo1.png" class="block-photo-gallery" data-fancybox="gallery")
					img(class="lazyload" data-src="images/photo1.png" alt="img")
			div(class="col-12 col-lg-6 d-none d-lg-block")
				div(class="block-photo-gallery-wrapper")
					-for(let i = 0; i < 3; i ++)
						a(href="images/photo1.png" class="block-photo-gallery" data-fancybox="gallery")
							img(class="lazyload" data-src="images/photo1.png" alt="img")
					div(class="block-photo-gallery block-photo-gallery_link" )
						img(class="lazyload" data-src="images/photo1.png" alt="img")
						a(class="block-photo-gallery__content" href="#")
							| 9+ 
			div(class="col-12 d-none d-lg-block")
				p(class="block-photo-gallery-text")
					| Выложили фотографии с турнира ФПЧО «Я стану Чемпионом‎» - I этап, проведенного на базе плавательного бассейна «Строитель» в городе Магнитороск… 
					a(href="#" class="color-main")
						| Смотреть все фотографии с турнира