extends base.pug
block content
	div(class="container")
		div(class="row")
			div(class="col-12 col-lg-8 order-1 order-lg-2")
				div(class="mb-24")
					h1(class="page-title font-size-22 mb-8")
						| Статистика
					p(class="page-description font-size-18")
						| Здесь будет отображаться статистика прикрепления и передачи спортсменов другому тренеру
				div(class="lk-info mb-24")
					-for(let i = 0; i < 3; i++)
						div(class="lk-info__item")
							div(class="lk-info__preview")
								img(class="lazyload" data-src="images/link.svg" alt="img")
							div(class="d-flex flex-column")
								h2(class="lk-info__title")
									| Спортсмен <a href="#">И. И. Иванов</a> теперь прикреплен к тренеру <a href="#">С. С. Степанов.</a>
								span(class="lk-info__date")
									| 23 Июля 2021
						div(class="lk-info__item")
							div(class="lk-info__preview")
								img(class="lazyload" data-src="images/shuffle.svg" alt="img")
							div(class="d-flex flex-column")
								h2(class="lk-info__title")
									| Тренер <a href="#">С. С. Степанов</a> передал спортсмена <a href="#">И. И. Иванова</a> тренеру <a href="#">А. А. Артемову.</a>
								span(class="lk-info__date")
									| 23 Июля 2021
				include components/pagination_6.pug
			div(class="col-12 col-lg-4 order-1")
				include components/lk/sidebar.pug
