extends base.pug
block content
	div(class="page-section")
		div(class="container")
			div(class="row")
				-let link1 = ["https://russwimming.ru/", "https://www.fina.org/", "http://www.len.eu/", "https://minsport.gov.ru/", "http://www.chelsport.ru/"];
				-let link2 = ["russwimming.ru", "www.fina.org", "www.len.eu", "minsport.gov.ru", "www.chelsport.ru"];
				each item, index in ["Сайт ВФП", " Официальный сайт FINA", "Официальный сайт LEN", "Министерство спорта Российской Федерации", "Министерство по физической культуре и спорту Челябинской области"]
					div(class="col-12 col-lg-4 mb-24")
						span(class="footer__title mb-8")
							= item
						a(class="link-more" href=link1[index])
							span(class="link-more__text")
								= link2[index]