extends baseLogin.pug
block content
	div(class="page-section d-flex align-items-center justify-content-center py-100")
		div(class="container")
			div(class="row justify-content-center")
				div(class="col-12 col-lg-8 col-xl-6")
					include components/login/password.pug