extends base.pug
block content
	div(class="page-section")
		div(class="container")
			form(action="" class="row mb-24 form-search form-search_big")
				div(class="col-12 col-lg-6")
					div(class="form-control")
						input(type="search" placeholder="Поиск…")
				div(class="col-12 col-lg-3")
					div(class="form-control mb-12")
						div(class="custom-select w-100")
							select(name="school")
								-for(let i = 0; i < 5; i++)
									option()
										|  Год соревнования 
										= i + 1
				div(class="col-12 col-lg-3")
					button(type="submit" class="btn btn_size-large btn_type-primary w-100")
						| Применить фильтр
			div(class="row")
				div(class="col-12 col-lg-9")
					h2(class="page-title page-title_h2 mb-8")
						| 2021 год
			div(class="row mb-24")
				div(class="col-12 col-lg-7 mb-8")
					p(class="page-description")
						| Все фотоотчеты соревнований за 2021 год
			div(class="row mb-28")
				-for(let i = 0; i < 9; i++)
					div(class="col-12 col-lg-4 mb-24")
						div(class="news__item news__item_mini")
							a(class="preview" href="#")
								img(src="images/news-item-1.png" alt="img")
							div(class="news__content")
								span(class="news__date news__date_active")
									| 2021 год
								a(href="#" class="news__title")
									| Фотографии с турнира ФПЧО «‎Я стану Чемпионом»
			div(class="row pb-lg-190")
				div(class="col-12")
					include components/pagination.pug