extends base.pug
block content
	div(class="page-section")
		div(class="container")
			div(class="row ")
				div(class="col-12 col-lg-10 col-xl-8")
					div(class="news__item news__item_article pb-48")
						span(class="news__date")
							| 2021 год
						h1(class="news__title mb-8")
							| Турнир ФПЧО «‎Я стану Чемпионом»
						p(class="page-description")
							| Фотографии с турнира ФПЧО «‎Я стану Чемпионом», прошедшего в таком-то городе, в такое-то время
					div(class="gallery gallery_masonry")
						div(class="row pb-48")
							div(class="col-12 col-lg-6")
								a(class="gallery__item" href="images/gallery1.png" data-fancybox="gallery")
									img(class="lazyload" data-src="images/gallery1.png" alt="img")
							div(class="col-12 col-lg-6")
								div(class="row")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
							div(class="col-12 mb-24")
								a(class="gallery__item" href="images/gallery3.png" data-fancybox="gallery")
									img(class="lazyload" data-src="images/gallery3.png" alt="img")
							div(class="col-12 col-lg-6")
								div(class="row")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
							div(class="col-12 col-lg-6")
								a(class="gallery__item" href="images/gallery1.png" data-fancybox="gallery")
									img(class="lazyload" data-src="images/gallery1.png" alt="img")
							div(class="col-12 col-lg-6")
								div(class="row")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
							div(class="col-12 col-lg-6")
								div(class="row")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
									div(class="col-12 col-lg-6 mb-24")
										a(class="gallery__item" href="images/gallery2.png" data-fancybox="gallery")
											img(class="lazyload" data-src="images/gallery2.png" alt="img")
							div(class="col-12 col-lg-6")
								a(class="gallery__item" href="images/gallery1.png" data-fancybox="gallery")
									img(class="lazyload" data-src="images/gallery1.png" alt="img")
							div(class="col-12 col-lg-6")
								a(class="gallery__item" href="images/gallery1.png" data-fancybox="gallery")
									img(class="lazyload" data-src="images/gallery1.png" alt="img")
			div(class="row pb-lg-190")
				div(class="col-12 col-lg-10 col-xl-8")
					include components/pagination.pug