extends base.pug
block content
	div(class="page-section")
		div(class="container")
			div(class="row pg-lg-90")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Рейтинг пловцов
					p(class="page-description")
						| Используйте фильтр чтобы найти определенные результаты
			form(class="row pb-48" action="#" method="POST")
				div(class="col-12 col-lg-6")
					div(class="form-control mb-12")
						label
							| Год рождения
						input(name="year" type="text" placeholder="ДД/ММ/ГГГГ")
					div(class="form-control mb-12")
						label
							| ФИО
						input(name="name" type="text" placeholder="Иванов Иван Иванович")
					div(class="form-control mb-12")
						label
							| Спортивная школа
						div(class="custom-select w-100")
							select(name="school")
								-for(let i = 0; i < 5; i++)
									option()
										|  СДЮСШОР № 7 
										= i + 1
					div(class="form-control mb-12")
						label()
							| Тренер
						div(class="custom-select w-100")
							select(name="trainer")
								-for(let i = 0; i < 5; i++)
									option()
										|  Степанов Степан Степанович 
										= i + 1
				div(class="col-12 col-lg-6")
					div(class="form-control mb-12")
						label
							| Тип соревнования
						div(class="custom-select w-100")
							select(name="type")
								-for(let i = 0; i < 5; i++)
									option()
										|  Областные 
										= i + 1
					div(class="form-control mb-12")
						label
							| Бассейн
						div(class="custom-select w-100")
							select(name="type")
								-for(let i = 0; i < 5; i++)
									option()
										|  Все виды 
										= i + 1
					div(class="form-control mb-12")
						label
							| Дистанция
						div(class="custom-select w-100")
							select(name="school")
								-for(let i = 0; i < 5; i++)
									option()
										|  1500 м вольный стиль 
										= i + 1
					button(type="submit" class="btn btn_size-large btn_type-primary w-100 mt-32")
						| Показать результаты
			div(class="row pg-lg-190")
				div(class="col-12")
					h2(class="page-title page-title_h2 mb-8")
						| Рейтинг на других сайтах
					p(class="page-description")
						| Вы также можете посмотреть рейтинги на сайте ВФП:
					a(href="russwimming.ru/rating" class="link-more")
						span(class="link-more__text")
							| russwimming.ru/rating
