extends base.pug
block content
	div(class="page-section")
		div(class="container")
			div(class="row mb-24")
				div(class="col-12 col-lg-10")
					form(action="" class="form-search form-search_big")
						div(class="form-control")
							input(type="search" placeholder="Поиск…")
				div(class="col-12 col-lg-2")
					button(type="button" class="btn btn_type-secondary btn_size-large btn_color-blue-light-2 color-blue btn_img btn_img_right")
						| Фильтры
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4 21V14" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M4 10V3" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M12 21V12" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M12 8V3" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M20 21V16" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M20 12V3" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M1 14H7" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M9 8H15" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M17 16H23" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>

			div(class="row")
				div(class="col-12 col-lg-9")
					h2(class="page-title page-title_h2 mb-8")
						| Турнир ФПЧО «‎Я стану Чемпионом»
			div(class="row pb-lg-90")
				div(class="col-12 col-lg-7 mb-8")
					p(class="page-description")
						| Областные соревнования
				div(class="col-12")
					div(class="table-responsive")
						table(class="table table_reverse-bg")
							thead()
								tr()
									each item, index in ["#", "ФИО", "Дистанция", "Результат", "FINA", "Год рождения"]
										if index == 5 
											td(class="text-right")
												= item
										else
											td()
												= item
							tbody()
								-for(let i = 0; i < 11; i++)
									tr()
										each item, index in [i + 1, "Балахонова Марина Николаевна", "1500 м вольный стиль", "14.57,53 мин", "250", "04.03.1999"]
											if index == 5
												td(class="text-right")
													= item
											else
												td()
													= item
			div(class="row")
				div(class="col-12 col-lg-9")
					h2(class="page-title page-title_h2 mb-8")
						| Турнир ФПЧО «‎Я стану Чемпионом»
			div(class="row pb-lg-70")
				div(class="col-12 col-lg-7 mb-8")
					p(class="page-description")
						| Областные соревнования
				div(class="col-12")
					div(class="table-responsive")
						table(class="table table_reverse-bg")
							thead()
								tr()
									each item, index in ["#", "ФИО", "Дистанция", "Результат", "FINA", "Год рождения"]
										if index == 5 
											td(class="text-right")
												= item
										else
											td()
												= item
							tbody()
								-for(let i = 0; i < 11; i++)
									tr()
										each item, index in [i + 1, "Балахонова Марина Николаевна", "1500 м вольный стиль", "14.57,53 мин", "250", "04.03.1999"]
											if index == 5
												td(class="text-right")
													= item
											else
												td()
													= item
			div(class="row pb-lg-60")
				div(class="col-12")
					include components/pagination.pug
													