.btn {
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	border: 0px;
	text-decoration: none;

	font-size: 18px;
	line-height: 21px;

	transition: 0.2s;
	&.btn_size-small {
		padding: 6.5px 16px;
		border-radius: 4px;
	}
	&.btn_size-middle {
		padding: 11.5px 20px;
		border-radius: 4px;
	}
	&.btn_size-large {
		padding: 17.5px 24px;
		border-radius: 8px;
	}
	&.btn_type-primary {
		background: #00378C;
		font-weight: bold;
		
		text-align: center;
		color: #FFFFFF;
		&:hover {
			background: #0041A6;
		}
	}
	&.btn_type-secondary {
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #00378C;
		background: #E6F0FF;
		&:hover {
			background: #00378C;
			color: #fff;
		}

		&.active {
			background: #00378C;
			color: #fff;
		}
	}
	&.btn_type-ghost {
		background: none;
		text-align: center;
		color: $color_dark_blue;
		stroke: $color_dark_blue;
	}

	&.btn_color-blue-light-2 {
		background-color: $color_blue_light_2;
		color: $color_light_blue;
	}
	&.btn_bg-blue-light {
		background-color: $color_blue_light;
		&:hover {
			background-color: $color_blue;
			color: #fff;
			svg {
				path {
					stroke: #fff;
				}
			}
		}
	}

	&.btn_img {
		display: flex;
		align-items: center;
		svg {
			path {
				transition: 0.3s;
			}
		}
		&:hover {
			svg {
				path {
					stroke: #fff;
				}
			}
		}
		&.btn_img_right {
			svg {
				margin-left: 12px;
			}
		}
		&.btn_img_left {
			svg {
				margin-right: 12px;
			}
		}
		&.btn_img_no-hover-color {
			&:hover {
				svg {
					path {
						stroke: inherit;
					}
				}
			}
		}
		&.btn_img_color-blue {
			stroke: $color_blue;
		}
	}
	&.btn_disabled {
		background-color: $color_blue_light_2;
		color: $color_light_blue;
		cursor: default;
		&:hover {
			background-color: $color_blue_light_2;
			color: $color_light_blue;
		}
	}
	

	&:focus {
		box-shadow: 0px 0px 0px 4px #0097f1;
	}
}