.calendar-item {
	.calendar-item__preview {
		border-radius: 12px;
		overflow: hidden;
		img {
			width :100%;
		}
	}
	.calendar-item__title {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 120%;

		color: $color_dark_blue;
		margin: 0px 0px 8px 0px;
	}
	p {
		font-size: 18px;
		line-height: 150%;
		color: $color_light_blue;
		margin: 0px 0px 8px 0px;
	}
}

.calendar__year-list  {
	padding-bottom: 12px;
	padding-top: 12px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	-ms-overflow-style: none;

	position: relative;
	&:before {
		content: "";
		display: block;
		width: 60px;
		position: absolute;
		z-index: 2;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background: linear-gradient(270deg, #FFFFFF 20%, rgba(255, 255, 255, 0) 100%);
	}
	&::-webkit-scrollbar {
		display:none;
	}
}