.footer {
	background: $color_blue_light_2;
	padding: 62px 0px 64px 0px;

	
	.footer__list {
		padding: 0px;
		margin: 0px;
		li {
			list-style: none;
			margin-bottom: 12px;
			@media (max-width: 991px) {
				margin-bottom: 24px;
			}
		}
		@media (max-width: 991px) {
			padding-bottom: 12px;
		}
	}
	
	.footer__top {
		
	}
	.fotter__bottom {
		padding-top: 24px;
		p {
			font-size: 16px;
			line-height: 150%;
			color: $color_light_blue;
		}
	}
	.footer__border {
		border-top: 2px solid #E6F0FF;
	}
	@media (max-width: 991px) {
		padding: 48px 0px 120px 0px;

	}
}
.footer__title {
	display: block;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 120%;
	color: $color_dark_blue;
	margin-bottom: 24px;
}
.footer__nav-item {
	font-size: 18px;
	line-height: 150%;
	color: $color_light_blue;
	text-decoration: none;
}