.form-search {
	&.form-search_header {
		max-width: 212px;
		width: 100%;
		position: relative;
		input {
			width: 100%;
			padding: 0px;
			border: 0px;
			font-size: 18px;
			line-height: 21px;
			color: $color_light_blue;
			padding: 17.5px 10px 20.5px 36px;
			&:focus-visible {
				border: 0px;
				outline: none;
			}
			&:focus {

				& + .form-search__border {
					background: $color_blue;
				}
				&:after {
					content: "";
					position: absolute;
					z-index: 2;
					left: 3px;
					top: calc(50% - 8px);
					width: 16.6px;
					height: 16.6px;
					background-image: url("../images/search.svg");
					background-repeat: no-repeat;
					background-size: 16px;
					padding-right: 12px;
				}
			}
		}
		.form-search__border {
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			height: 4px;
			background: $color_blue-light;
			border-radius: 26px;

			transition: 0.3s;
		}
		&:after {
			content: "";
			position: absolute;
			z-index: 2;
			left: 3px;
			top: calc(50% - 8px);
			width: 16.6px;
			height: 16.6px;
			background-image: url("../images/search.svg");
			background-repeat: no-repeat;
			background-size: 16px;
			padding-right: 12px;
		}
		@media (min-width: 992px) and (max-width: 1300px) {
			max-width: 180px;
		}
	}
	&.form-search_big {
		position: relative;
		input[type=search] {
			padding-left: 48px;
		}
		&:after {
			content: "";
			position: absolute;
			z-index: 2;
			left: 12px;
			top: calc(50% - 12px);
			width: 24px;
			height: 24px;
			background-image: url("../images/search2.svg");
			background-repeat: no-repeat;
			background-size: 24px;
		}
	}
}


.form-control {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	label {
		font-size: 16px;
		line-height: 150%;
		color: $color_dark_blue;
		margin-bottom: 8px;
	}
	input {
		width: 100%;
		box-sizing: border-box;

		border: 0px;
		background: $color_blue_light_2;
		border-radius: 8px;
		padding: 18px 12px; 

		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: $color_light_blue;

		&::-moz-placeholder {
			font-size: 18px;
			line-height: 21px;
			color: $color_light_blue;
		}
		&::-webkit-input-placeholder {
			font-size: 18px;
			line-height: 21px;
			color: $color_light_blue;
		}
		&:-ms-input-placeholder {
			font-size: 18px;
			line-height: 21px;
			color: $color_light_blue;
		}
		&::-ms-input-placeholder {
			font-size: 18px;
			line-height: 21px;
			color: $color_light_blue;
		}
		&::placeholder {
			font-size: 18px;
			line-height: 21px;
			color: $color_light_blue;
		} 
	}
	
	.form-control__btn-view {
		cursor: pointer;
		position: absolute;
		z-index: 2;
		right: 12px;
		top: calc(50% - 12px);
		&.form-control__btn-view_hidden {
			top: calc(50% - 1px);
			height: 2px;
			background-color: #9f91b3;
			img {
				opacity: 0;
			}
		}
	}
	&.form-control_password {
		.form-control__wrapper {
			position: relative;
		}
		
	}
}

.custom-checkbox {
	padding: 12px 0px;
	input {
		width: 0.1px;
		height: 0.1px;
		position: absolute;
		z-index: -999999;
		&:checked + label .custom-checkbox__element {
			border-color: $color_blue;
			&:before {
				background-color: $color_blue;
			}
		}
	}
	label {
		cursor: pointer;
	}
	.custom-checkbox__element {
		display: inline-block;
		width: 24px;
		height: 24px;
		border: 2px solid $color_blue_light_2;
		background: #fff;
		border-radius: 4px;

		position: relative;
		transition: 0.2s;
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 14px;
			height: 14px;
			border-radius: 2px;

			top: calc(50%);
			left: 50%;
			transform: translate(-50%, -50%);

			transition: 0.2s;
		}
	}
	.custom-checkbox__text {
		margin-left: 10px;
		font-size: 18px;
		line-height: 21px;
		color: $color_dark_blue;

	}
}

/* The container must be positioned relative: */
.custom-select {
	min-width: 280px;
	width: 100%;
	position: relative;
	select {
		display: none; /*hide original SELECT element: */
	}
	.select-selected {
		cursor: pointer;
		border: 0px;
		background: $color_blue_light_2;
		border-radius: 8px;
		padding: 18px 36px 18px 12px; 

		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: $color_light_blue;

		&:after {
			position: absolute;
			content: "";
			top: calc(50% - 12px);
			right: 12px;
			width: 24px;
			height: 24px;
			background-image: url("../images/arrow-select.svg");
			background-repeat: no-repeat;
			background-position: center;

			transition: 0.3s;
		}
		&.select-arrow-active {
			border-radius: 8px 8px 0px 0px;
		}
		&.select-arrow-active:after {
			transform: scale(1, -1);
		}
	}

}
/* style the items (options), including the selected item: */
.select-items {
	position: absolute;
	background-color:  $color_blue_light_2;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	div,
	.select-selected {
		font-size: 18px;
		line-height: 21px;
		color: $color_light_blue;

		padding: 18px 36px 18px 12px; 
		
		cursor: pointer;
	}
}
  
/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}
  
.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}