.gallery {
    &.gallery_masonry {

    }
    .gallery__item {
        border-radius: 12px;
        overflow: hidden;
        display: block;
        img {
            display: block;
            width: 100%;
        }
    }
}