.logo {
	display: block;
	img {
		display: block;
		max-width: 100%;
	}
	@media (max-width: 991px) {
		max-width: 204px;
	}
}
.hedaer__top {
	padding: 24px 0px;
	@media (max-width: 991px) {
		padding: 18px 0px;
	}
}

.header__navigation {
	max-width: calc(100% - 212px);
	width: 100%;
	display: flex;
	align-items: flex-end;
	& > a,
	.header__navigation-dropdawn {
		flex: 1 0 0%;
	}
	a {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #001940;

		padding: 17.5px 24px;

		text-decoration: none;

		position: relative;

		&:before {
			content: 0px;
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			height: 4px;
			background: transparent;
			border-radius: 26px;

			transition: 0.3s;
		}

		&.active {
			font-weight: bold;
			color: $color_blue;
			.form-search__border {
				background: $color_blue;
			}
		}
		.form-search__border {
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			height: 4px;
			background: $color_blue-light;
			border-radius: 26px;

			transition: 0.3s;
		}
		@media (min-width: 992px) and (max-width: 1300px) {
			padding: 10px;
		}
	}

	.header__navigation-dropdawn-header {
		display: flex;
		align-items: center;
		cursor: pointer;

		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #001940;

		padding: 17.5px 24px;

		text-decoration: none;
		position: relative;
		a {
			padding: 0px;
		}
		.arrow {
			margin-left: 18px;
		}
		&:hover {
			.header__navigation-dropdawn-content {
				display: flex;
			}
		}
		&.active {
			.form-search__border {
				background: $color_blue;
			}
		}
		.form-search__border {
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			height: 4px;
			background: $color_blue-light;
			border-radius: 26px;

			transition: 0.3s;
		}
		@media (min-width: 992px) and (max-width: 1300px) {
			padding: 10px;
		}
	}
	.header__navigation-dropdawn-content {
		width: 310px;
		position: absolute;
		z-index: 99;
		top: 100%;
		left: 0px;

		display: none;
		flex-direction: column;

		border: 2px solid #F8F8FB;
		background: #fff;
		box-sizing: border-box;
		box-shadow: 0px 16px 100px rgba(0, 25, 64, 0.1);
		border-radius: 0px 0px 8px 8px;

		overflow: hidden;

		a {
			text-align: left;
			padding: 17.5px 12px;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #001940;

			border-bottom: 2px solid #F8F8FB;

			transition: 0.2s;
			&:hover {
				background: $color_blue_hover;
				color: #fff;
			}
		}
	}
	&.header__navigation_mobile {
		background-color: #fff;
		display: none;
		justify-content:space-between;
		max-width: unset;
		a {
			height: 80px;
			padding: 19px 10px 17px 10px;
			font-size: 12px;
			line-height: 150%;
			text-align: center;
			color: $color_light_blue;

			display: flex;
			flex-direction: column;
			align-items: center;
			.login-img, svg {
				margin-bottom: 4px;
			}
		}
		@media (max-width: 991px) {
			display: flex;
		}
	}
	@media (max-width: 991px) {
		display: none;
	}
}

.header {
	&.header_mobile {
		position: fixed;
		z-index: 99;
		bottom: 0px;
		right: 0px;
		left: 0px;
	}
}

.login-img {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	overflow: hidden;
	img {
		width: 100%;
	}
}