.login {
    max-width: 574px;
    margin: 0 auto;
    .login__header {
        padding-bottom: 24px;
    }
    .login__content {
        background: #FFFFFF;
        border: 2px solid #E6F0FF;
        box-sizing: border-box;
        border-radius: 12px;

        padding: 48px;
    }
    .login__title {
        display: block;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 120%;
        color: $color_dark_blue;
        margin: 0px 0px 8px 0px;
    }
    .login__description {
        display: block;
        font-size: 18px;
        line-height: 150%;
        color: $color_light_blue;
        margin: 0px 0px 24px 0px;
    }
}