.news__item {
	.preview {
		display: block;
		border-radius: 12px;
		overflow: hidden;
		margin-bottom: 12px;
		img {
			display: block;
			width: 100%;
		}
	}
	.news__content {
		.news__date {
			display: block;
			font-size: 18px;
			line-height: 150%;
			color: #999BBF;
			margin-bottom: 8px;
			&.news__date_active {
				color: $color_note;
			}
			&.news__date_color-m {
				@media(max-width: 991px) {
					color: $color_note;
				}
			}
			@media (max-width: 991px) {
				font-size: 16px;
				line-height: 150%;
			}
		}
		.news__title {
			font-family: Montserrat;
			display: block;
			font-weight: bold;
			font-size: 28px;
			line-height: 120%;
			color: #001940;
			margin-bottom: 8px;
			text-decoration: none;
			@media (max-width: 991px) {
				font-size: 22px;
				line-height: 120%;
			}
		}
		.news__description {
			font-size: 18px;
			line-height: 150%;
			color: #999BBF;
			margin: 0px 0px 8px 0px;
			@media (max-width: 991px){
				font-size: 16px;
				line-height: 150%;
			}
		}
		.news__link-more {
			font-size: 18px;
			line-height: 150%;
			color: $color_note;
			text-decoration: none;
		}
	}
	&.news__item_article {
		h1,h2,p {
			margin: 0px;
		}
		h2,p {
			margin-bottom: 8px;
		}
		.news__date {
			display: block;
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 120%;
			color: $color_note;
			margin: 0px 0px 8px 0px;
		}
		.news__title {
			margin: 0px 0px 24px 0px;
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 120%;
			color: $color_dark_blue;
			@media (max-width: 991px) {
				font-size: 22px;
				line-height: 120%;
			}
		}
		.preview {
			margin-bottom: 24px;
		}
		@media (max-width: 991px) {
			padding: 0px;
			background: none;
			border-radius: 0px;
		}
	}
	.news__footer {

	}
	
	&.news__item_row {
		display: flex;
		flex-direction: row;
		.preview {
			width: 50%;
			margin-bottom: 0px;
		}
		.news__content {
			padding-left: 12px;
			width: 50%;
		}
		.news__title {
			font-size: 22px;
			line-height: 120%;
			margin-bottom: 40px;
		}
	}
	&.news__item_only-title-date {
		position: relative;
		padding-bottom: 12px;
		margin-bottom: 12px;
		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			height: 2px;
			border-radius: 24px;
			background-color: $color_blue_light_2;
			@media(max-width: 991px) {
				display: none;
			}
		}
		.news__content {
			.news__title {
				margin: 0px;
				font-size: 22px;
				line-height: 120%;
			}
		}
		@media (max-width: 991px) {
			margin: 0px;
		}
	}
	&.news__item_mini {
		.news__content {
			.news__title {
				font-size: 22px;
				line-height: 120%;
			}
			.news__description {
				margin: 0px;
			}
		}
	}
	@media (max-width: 991px) {
		padding: 12px;
		background: $color_blue_light_2;
		border-radius: 12px;
	}
}