.pagination {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        .page-item {
            list-style: none;

            box-sizing: border-box;
            max-width: 62px;
            min-width: 20px;
            width: 100%;
            height: 56px;
            display: flex;
            
            justify-content: center;
            align-items: center;
            margin-right: 24px;

            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: $color_light_blue;
            
            a {
                text-decoration: none;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: $color_light_blue;
            }
            &:last-child {
                margin: 0px;
            }
            &.page-item_active {
                a {
                    color: $color_blue;
                }
            }
        }
    }
    .btn {
        padding: 11px 16px;
        span {
            @media (max-width: 991px) {
                display: none;
            }
        }
        svg {
            @media (min-width: 992px) {
                display: none;
            }
        }
    }
}