.personal-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    .personal-nav__preview {
        width: 96px;
        height: 96px;
        border-radius: 100%;
        overflow: hidden;
        margin-bottom: 24px;
        img {
            display: block;
            width: 100%;
        }
    }
    .personal-nav__name {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 120%;
        text-align: center;
        margin: 0px;
        color: $color_dark_blue;
    }
    .personal-nav__status {
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #999BBF;
    }
    .personal-nav__wrapper {
        padding-top: 24px;
        padding-bottom: 24px;
        width :100%;
        border-bottom: 1px solid $color_blue_light_2;
    }
}


.lk-info {
    .lk-info__item {
        display: flex;
        align-content: flex-start;
        padding: 12px 0px;
        border-bottom: 2px solid $color_blue_light_2;
        margin-bottom: 2px;
        .lk-info__preview {
            box-sizing: border-box;
            width: 44px;
            height: 44px;
            background: $color_blue_light_2;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 12px;
            padding: 10px;
    
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width :100%;
            }
        }
        .lk-info__title {
            margin: 0px 0px 4px 0px;
            font-family: "Work Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: $color_dark_blue;
            a {
                font-weight: 600;
                text-decoration: none;
            }
        }
        .lk-info__date {
            font-size: 16px;
            line-height: 150%;
            color: $color_light_blue;
            
        }
        &:last-child {
            border: 0px;
            margin: 0px;
        }
    }
}