/* INCLUD SASS */

@import "../node_modules/swiper/swiper-bundle.css";
@import "../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css";

@import "default/bootstrap-grid.css";
@import "default/default.scss";

@import "header";
@import "buttons";
@import "form";
@import "news-item";
@import "calendar-item";
@import "footer";
@import "pagination";
@import "gallery";
@import "login";
@import "personal-area";


.mr-24 {
	margin-right: 24px;
}



.block-photo-gallery-wrapper {
	display: flex;
	flex-wrap: wrap;
	.block-photo-gallery {
		width: calc(50% - 12px);
		margin-bottom: 24px;
		&:nth-child(odd){
			margin-right: 24px;
		}
	}
}
.block-photo-gallery-text {
	margin: 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: $color_light_blue;
}
.block-photo-gallery {
	display: inline-block;
	border-radius: 24px;
	overflow: hidden;
	img {
		display: block;
		width: 100%;
	}
	&.block-photo-gallery_link {
		position: relative;
		.block-photo-gallery__content {
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;

			background-color: rgba(0,0,0,0.5);
			display: flex;
			justify-content: center;
			align-items: center;

			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 120%;
			text-align: center;
			color: #FFFFFF;
			text-decoration: none;

			transition: 0.3s;
		}
		&:hover {
			.block-photo-gallery__content {
				transform: scale(1.1);
			}
		}
	}
}


.organization-item {
	border: 2px solid #E6F0FF;
	box-sizing: border-box;
	border-radius: 12px;
	padding: 24px;
	overflow: hidden;
	.title {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 120%;
		color: $color_dark_blue;
		margin-bottom: 4px;
	}
	.city {
		width: 50%;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 150%;
		color: $color_light_blue;
	}
	.city-type {
		width: 50%;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 120%;
		text-align: right;
		color: $color_blue;
	}
	.link {
		font-size: 18px;
		line-height: 150%;
		color: $color_note;
		text-decoration: none;
	}
}



.athlete-card {
	.avatar {
		max-width: 175px;
		overflow: hidden;
		img {
			border-radius: 100%;
			width: 100%;
		}
	}
	.athlete-card__title {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 120%;
		color: $color_dark_blue;
		margin: 0px 0px 24px 0px;
	}
	.athlete-card__subtitle {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 120%;
		color: $color_dark_blue;
	}
	.athlete-card__text {
		display: block;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 120%;
		color: $color_dark_blue;
		margin-bottom: 4px;
		margin-top: 0px;
	}
	p {
		margin: 0px;
	}
}


.default-slider {
	padding-right: 40px;
}
.swiper-wrapper {
	display: flex;
	.swiper-slide {
		height: unset;
		.news__item {
			height: 100%;
		}
	}
}
.swiper-pagination_welcome {
	position: unset;
	bottom: unset;
	padding-top: 8px;
	.swiper-pagination-bullet {
		background: $color_blue_light;
		width: 38px;
		height: 6px;
		border-radius: 6px;
		opacity: 1;

		&.swiper-pagination-bullet-active {
			background: $color_blue;
		}
	}
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 8px 0px 0px;
	&:last-child {
		margin: 0px;
	}
}

.social-link {
	margin-right: 24px;
	img {
		@media (max-width: 991px) {
			width: 100%;
		}
	}
	@media (max-width: 991px) {
		max-width: 32px;
		margin-right: 12px;
	}
}