div(class="login")
	div(class="login__header")
		div(class="row align-items-center")
			div(class="col-6")
				include ../link-back-arrow.pug
			div(class="col-6 d-flex justify-cotnent-end")
				a(class="logo" href="#")
					img(class="lazyload" data-src="images/logo.svg" alt="img")
	div(class="login__content")
		span(class="login__title")
			| Вход
		span(class="login__description")
			| Только для зарегистрированных пользователей
		form(action="#" method="POST")
			div(class="form-control mb-12")
				label
					| Почта
				input(name="email" type="email" placeholder="username@gmail.com")
			div(class="form-control form-control_password mb-12")
				label
					| Пароль
				div(class="form-control__wrapper w-100")
					input(name="password" type="password" placeholder="********")
					span(class="form-control__btn-view")
						img(class="lazyload" data-src="images/eye.svg" alt="img")
			div(class="pt-12 mb-12")
				button(type="submit" class="btn btn_size-large btn_type-primary w-100")
					| Войти
			div(class="d-flex justify-content-center")
				a(href="#" class="link")
					| Еще нет аккаунта? Регистрация