div(class="login")
	div(class="login__header")
		div(class="row align-items-center")
			div(class="col-6")
				include ../link-back-arrow.pug
			div(class="col-6 d-flex justify-cotnent-end")
				a(class="logo" href="#")
					img(class="lazyload" data-src="images/logo.svg" alt="img")
	div(class="login__content")
		span(class="login__title")
			| Создание пароля
		span(class="login__description")
			| Придумайте пароль и после этого вы сможете пользоваться личным кабинетом
		form(action="#" method="POST")
			div(class="form-control form-control_password mb-12")
				label
					| Пароль
				div(class="form-control__wrapper w-100")
					input(name="password" type="password" placeholder="********")
					span(class="form-control__btn-view")
						img(class="lazyload" data-src="images/eye.svg" alt="img")
			div(class="form-control form-control_password mb-12")
				label
					| Повторите пароль
				div(class="form-control__wrapper w-100")
					input(name="password" type="password" placeholder="********")
					span(class="form-control__btn-view")
						img(class="lazyload" data-src="images/eye.svg" alt="img")
			div(class="pt-12 mb-12")
				button(type="submit" class="btn btn_size-large btn_type-primary w-100")
					| Войти