div(class="login")
	div(class="login__header")
		div(class="row align-items-center")
			div(class="col-6")
				include ../link-back-arrow.pug
			div(class="col-6 d-flex justify-cotnent-end")
				a(class="logo" href="#")
					img(class="lazyload" data-src="images/logo.svg" alt="img")
	div(class="login__content")
		span(class="login__title")
			| Регистрация
		span(class="login__description")
			| Чтобы зарегистрироваться, введите следующие данные
		form(action="#" method="POST")
			div(class="form-control mb-12")
				label
					| ФИО полностью
				input(name="name" type="text" placeholder="Алиса Иванова Ивановна")
			div(class="form-control mb-12")
				label
					| Почта
				input(name="email" type="email" placeholder="username@gmail.com")
			div(class="form-control mb-12")
				label
					| Телефон
				input(name="phone" type="tel" placeholder="+7 (351) 264-11-89")
			div(class="form-control mb-12")
				label
					| День рождения
				input(name="year" type="text" placeholder="ДД/ММ/ГГГГ")
			div(class="form-control mb-12")
				label
					| Город
				input(name="sity" type="text" placeholder="Челябинск")
			div(class="form-control mb-24")
				label
					| Спортивная школа
				div(class="custom-select w-100")
					select(name="school")
						-for(let i = 0; i < 5; i++)
							option()
								|  СШОР №7
								= i + 1
			span(class="login__title font-size-22")
				| Кем вы являетесь?
			span(class="login__description")
				| Выберите из списка
			div(class="row")
				div(class="col-12 col-md-6 mb-12")
					div(class="custom-checkbox")
						input(type="checkbox" name="checkboxType" value="checkbox1" id="checkbox1"  checked)
						label(for="checkbox1" class="d-flex align-items-center")
							span(class="custom-checkbox__element")
							span(class="custom-checkbox__text")
								| Член Федерации
				
				each item, index in ["Тренер", "Спортсмен", "Судья", "Секретарь", "Директор дивизиона"]
					div(class="col-12 col-md-6 mb-12")
						div(class="custom-checkbox")
							-let tmp = "checkbox" + index + 2;
							input(type="checkbox" name="checkboxType" value=tmp id=tmp  )
							label(for=tmp class="d-flex align-items-center")
								span(class="custom-checkbox__element")
								span(class="custom-checkbox__text")
									= item
			div(class="pt-12 mb-12")
				button(type="submit" class="btn btn_size-large btn_type-primary w-100")
					| Зарегистрироваться
			div(class="d-flex justify-content-center")
				a(href="#" class="link")
					| Уже есть аккаунт? Войти