div(class="login")
	div(class="login__header")
		div(class="row align-items-center")
			div(class="col-6")
				include ../link-back-arrow.pug
			div(class="col-6 d-flex justify-cotnent-end")
				a(class="logo" href="#")
					img(class="lazyload" data-src="images/logo.svg" alt="img")
	div(class="login__content")
		span(class="login__title")
			| Спасибо за регистрацию!
		span(class="login__description")
			| В ближайшее время вам придет сообщение на почту с ссылкой для создания пароля 
		div(class="pt-12 mb-12")
			button(type="submit" class="btn btn_size-large btn_type-primary w-100 mb-12")
				| Хорошо
			a(class="btn btn_size-large btn_type-secondary w-100" href="#")
				| Вернуться на главную