div(class="personal-nav organization-item")
	div(class="personal-nav__preview")
		img(class="lazyload" data-src="images/avatar.png" alt="img")
	h2(class="personal-nav__name")
		| Алиса Иванова
	span(class="personal-nav__status")
		| Член федерации
	div( class="personal-nav__wrapper")
		a(class="btn btn_size-large btn_type-primary btn_img btn_img_left w-100" href="#")
			<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M20.1668 23.5V21.8333C20.1668 20.9493 19.8156 20.1014 19.1905 19.4763C18.5654 18.8512 17.7176 18.5 16.8335 18.5H10.1668C9.28277 18.5 8.43493 18.8512 7.80981 19.4763C7.18469 20.1014 6.8335 20.9493 6.8335 21.8333V23.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M13.4998 15.1667C15.3408 15.1667 16.8332 13.6743 16.8332 11.8333C16.8332 9.99238 15.3408 8.5 13.4998 8.5C11.6589 8.5 10.1665 9.99238 10.1665 11.8333C10.1665 13.6743 11.6589 15.1667 13.4998 15.1667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M25.1665 23.4991V21.8324C25.166 21.0939 24.9201 20.3764 24.4676 19.7927C24.0152 19.209 23.3816 18.7921 22.6665 18.6074" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M19.3335 8.60742C20.0505 8.79101 20.686 9.20801 21.1399 9.79268C21.5937 10.3774 21.84 11.0964 21.84 11.8366C21.84 12.5767 21.5937 13.2958 21.1399 13.8805C20.686 14.4652 20.0505 14.8822 19.3335 15.0658" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			| Передача/прикрепление
		a(class="btn btn_size-large btn_type-ghost btn_img btn_img_left btn_img_no-hover-color btn_img_color-blue w-100" href="#")
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M17.5002 3.33398H2.50016C1.57969 3.33398 0.833496 4.08018 0.833496 5.00065V15.0007C0.833496 15.9211 1.57969 16.6673 2.50016 16.6673H17.5002C18.4206 16.6673 19.1668 15.9211 19.1668 15.0007V5.00065C19.1668 4.08018 18.4206 3.33398 17.5002 3.33398Z" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M0.833496 8.33398H19.1668" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			b()
				| Членские взносы
	div( class="personal-nav__wrapper")
		a(class="btn btn_size-large btn_type-ghost btn_img btn_img_left btn_img_no-hover-color btn_img_color-blue w-100" href="#")
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M16.6668 17.5V15.8333C16.6668 14.9493 16.3156 14.1014 15.6905 13.4763C15.0654 12.8512 14.2176 12.5 13.3335 12.5H6.66683C5.78277 12.5 4.93493 12.8512 4.30981 13.4763C3.68469 14.1014 3.3335 14.9493 3.3335 15.8333V17.5" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M9.99984 9.16667C11.8408 9.16667 13.3332 7.67428 13.3332 5.83333C13.3332 3.99238 11.8408 2.5 9.99984 2.5C8.15889 2.5 6.6665 3.99238 6.6665 5.83333C6.6665 7.67428 8.15889 9.16667 9.99984 9.16667Z" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			b()
				| Настройки профиля
		a(class="btn btn_size-large btn_type-ghost btn_img btn_img_left btn_img_no-hover-color btn_img_color-blue w-100" href="#")
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M10.0002 18.3327C10.0002 18.3327 16.6668 14.9993 16.6668 9.99935V4.16602L10.0002 1.66602L3.3335 4.16602V9.99935C3.3335 14.9993 10.0002 18.3327 10.0002 18.3327Z" stroke="#00378C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			b()
				| Смена пароля
	form(class="pt-24 w-100")
		button(class="btn btn_size-large btn_type-secondary w-100 mb-12" type="submit")
			| Сменить кабинет
		button(class="btn btn_size-large btn_type-ghost w-100" href="#")
			| Выход